# App
NODE_ENV=development
APP_ENV=development
APP_NAME=numelo
APP_VERSION=0.0.1
APP_KEY=
APP_URL=http://localhost:3333
TZ=UTC
HOST=localhost
PORT=3333
LOG_LEVEL=info

# Database
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=root
DB_PASSWORD=root
DB_DATABASE=numelo

# Session
SESSION_DRIVER=cookie

# Storage (S3)
DRIVE_DISK=s3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
S3_BUCKET=
S3_ENDPOINT=

# Mail
MAILER=smtp
SMTP_HOST=localhost
SMTP_PORT=1025
RESEND_API_KEY=

# Stripe
STRIPE_KEY=
STRIPE_SECRET=
STRIPE_WEBHOOK_SECRET=

# Monocle
MONOCLE_API_KEY=
